<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles_cabel.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles_horario.css">
</head>
<body>
    <div class="row align-items-center">
        <div class="col-6">
            <!-- Foto do usuário e nome -->
            <div class="d-flex align-items-center">
                <div class="user-photo"></div>
                <!-- Nome de usuário -->
                <div class="user-name ml-2"><a href="/informacoes" class="nome_link"> Nome do Usuário </a></div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <!-- Botão de configurações -->
            <a href="/configuracoes" class="btn btn-outline-secondary settings">Configurações</a>
        </div>
    </div>
        <!-- Linha separadora -->
        <hr>
        <!-- Parte principal da página -->
        <div class="titulo">Cabeleireiros disponíveis</div>
        <div class="row justify-content-center">
            <div>
                <!-- Retângulos dos dias da semana -->
                <a href="/cabeleireiros" class="cabel-link">
                    <div class="cabel-rectangle">
                        <div class="circle"></div>
                        <span class="cabel-name">Jefferson</span>
                    </div>
                </a>
                <a href="/cabeleireiros" class="cabel-link">
                    <div class="cabel-rectangle">
                        <div class="circle"></div>
                        <span class="cabel-name">Rayssa</span>
                    </div>
                </a>
                <a href="/cabeleireiros" class="cabel-link">
                    <div class="cabel-rectangle">
                        <span class="cabel-name">Gabriela</span>
                    </div>
                </a>
            </div>
        </div>
    </div>