<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles_config.css">
</head>
<body>
    <!-- Cabeçalho -->
    <div class="header">
        <h2>Configurações</h2>
    </div>
    <!-- Linha separadora -->
    <hr>
    <!-- Parte principal da página -->
    <div class="row justify-content-center">
        <div>
            <!-- Configuracoes -->
            <a href="/informacoes" class="config-link">
                <div class="config-rectangle">
                    <div class="circle"></div>
                    <span class="config-name">Informacoes</span>
                </div>
            </a>
            <a href="/horarios_marcados" class="config-link">
                <div class="config-rectangle">
                    <div class="circle"></div>
                    <span class="config-name">Horarios Marcados</span>
                </div>
            </a>
            <a href="/login" class="config-link">
                <div class="config-rectangle">
                    <span class="config-name">Sair</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>